.facility {
    &__container {
        @include section__container(minmax(27rem, 1fr), 1.5rem);
    }

    &__Item {
        text-align: center;

        & img {
            height: 10rem;
            margin-bottom: .5rem;
        }

        & h3 {
            @extend .siteHeding;
            margin: 1rem 0;
        }
    }
}