.hero-bg {
    background: linear-gradient(90deg, $white, transparent 70%), url(../../images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    @media(max-width: 768px) {
        background-position: left;
    }

    & .hero {
        min-height: 70rem;
        display: flex;
        align-items: center;

        @media(max-width: 768px) {
            justify-content: center;
        }

        &__content {
            width: 50rem;
            text-align: center;

            & h3 {
                font-size: 6rem;
                color: $black;
                font-family: 'Merienda One', cursive;

                @media(max-width: 768px) {
                    font-size: 4rem;
                }
            }

            & p {
                padding: 1rem 0;
                font-size: 1.6rem;
                color: $black;
                line-height: 2;
            }
        }
    }
}