.menu {
    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 30rem);
        gap: 2rem;
        align-items: flex-start;
        justify-content: center;

    }
    &__item {
        text-align: center;

        & img {
            width: 100%;
            margin-bottom: 1rem;
        }

        & h3 {
            font-size: 2rem;
            color: $black;
            font-family: $nunito;
        }
    }
}