.menu {
    &__container {
        @include section__container(33rem, 2rem);
    }
    &__item {
        text-align: center;

        & img {
            width: 100%;
            margin-bottom: 1rem;
        }

        & h3 {
            @extend .siteHeding;
        }
    }
}