.btn {
    display: inline-block;
    margin-top: 1rem;
    background-color: $primaryColor;
    cursor: pointer;
    color: $white;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    transition: .3s;

    &:hover {
        background-color: $black;
    }

}